# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Java
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Packer
packer_cache/
*.box
!packer/variables.pkrvars.hcl
packer/variables.pkrvars.hcl

# OS
.DS_Store
Thumbs.db
